[project]
	description = Cassandra Java Client
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mailmahee
[access "refs/for/refs/*"]
	read = group user/mailmahee
	push = group user/mailmahee
	label-Code-Review = -2..+2 group user/mailmahee
	label-Verified = -1..+1 group user/mailmahee
	rebase = group user/mailmahee
	removeReviewer = group user/mailmahee
	submit = group user/mailmahee
[access "refs/heads/*"]
	read = group user/mailmahee
	create = group user/mailmahee
	push = +force group user/mailmahee
	pushMerge = group user/mailmahee
[access "refs/tags/*"]
	push = +force group user/mailmahee
	pushTag = group user/mailmahee
	pushSignedTag = group user/mailmahee
